@page "/"
@implements IAsyncDisposable
@inject IJSRuntime js
@inject HttpClient _httpClient;
@inject IConfiguration _configuration

@if (_appStateManager.MeetingStarted)
{
    <ConferenceScreen OnHangUp="HangUp" OnToggleMic="ToggleMic" OnToggleVideo="ToggleVideo" />
}
else
{

    <div class="d-flex justify-center align-center" style="height:calc(100vh - 64px);">
        <MudPaper Class="pa-4 mx-2 d-flex flex-column align-stretch" MinWidth="350px"  Elevation="2">
            <MudSwitch T="bool" Class="align-self-center" CheckedChanged="ToggleStatus" ThumbIcon="@thumbIcon">@(joinMeeting?"Join Call":"Start Call")</MudSwitch>
            <MeetingForm OnSubmitNew="CreateMeeting" OnSubmitJoin="JoinMeeting" Join="joinMeeting" />
        </MudPaper>
    </div>
}

@*<ConferenceScreen />*@
