
<MudContainer>
    <video muted id="local-video" autoplay></video>
    <video id="remote-video" autoplay></video>
    <div class="call-action-div">
        <MudFab id="end-button" StartIcon="@Icons.Material.Filled.CallEnd" Color="Color.Error" />
        <MudFab id="end-button" StartIcon="@Icons.Material.Filled.MicOff" Color="Color.Warning" />
        <MudFab id="end-button" StartIcon="@Icons.Material.Filled.VideocamOff" Color="Color.Warning" />
    </div>
</MudContainer>



@code {

}
